<HTML>

<HEAD>This is an ansible default index</HEAD>

<BODY>

<H2> ANSIBLE IS THE WAY TO GO!</H2>

<H2> THIS IS {{ ansible_nodename| upper }} SERVER</H2>

<H2> PRIVATE IP OF  {{ ansible_nodename| upper }} SERVER IS {{ ansible_all_ipv4_addresses }}</H2> 
</BODY>

</HTML>
